html, body{
    font-family: 'Raleway', sans-serif;
    margin: 0;
}

header{
    padding: 2vh;
}

nav{
    width: 100%;
    display: flex;
    align-items: center;
}

.logo-wrapper{
    width: 15%;
    min-width: 102px;
    margin-left: 20px;
}

.logo{
    width: 102px;
    height: 64px;
}

.menu-wrapper{
    width: 70%;
    text-align: center;
    display: flex;
    justify-content: center;
}

.menu{  
    display: flex;  
    padding: 0;
    box-sizing: border-box;
    list-style: none;   
}

.menu li{
    width: 14vw;
    color: black;
}

.menu li i{
    padding: .5vw;
}

.content{
    height: 75vh;
    display: flex;
    flex-direction:column;
    justify-content: center;
    background-color: beige;
    margin-top: 10px;
}

.forms{
    height: 83vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-image: linear-gradient(#DBD1C6 10%,#D9D0C9 15%,#DBD4CC 25%,#E3DED8 45%,#EBE7E0 90%);
    margin-top: 10px;
}

.imagen{
    background: url('../img/second-hand-form.png') no-repeat;
    background-size: cover;
    width: 50%;
    height: 100%;
}

.test{
    margin: auto;
}

.banner-content{
    background: url('../img/ropa2.png') no-repeat right;
    background-size: contain;
    height: 70vh;
}

a{
    text-decoration: none;
}

.text-color{
    color: #b8b88c;
}

h1{
    font-weight: 700;
    font-size: 40px;
    position: absolute;
    left: 5%;
}

h3{
    text-align: center;
    color: black;
}

.bot-from-h1{
    margin-top: 10%;
    margin-left: 5%;
}

.btn-primary{
    background-color: #ACA38E !important;
    border-color: #ACA38E !important;
}

.btn-primary:hover {
    color: #fff;
    background-color: #A39881 !important;
    border-color: #a29984 !important;
}

.btn-white {
    background-color:  white;
    color: #8a8a5c;
    padding: 16px 48px;
    border-radius: 4px;
    border: 2px #8a8a5c solid;
    display: inline-block;
    text-decoration: none;
    transition: .3s;
    font-size: 18px;
    font-weight: bold;
    margin-top: 8%;
    margin-left: 10%;
}

.btn-white:hover {
    background-color:  #8a8a5c;
    color: white;
}

.card-white {
    background: white;
    box-shadow: 0 0 16px rgba(0,0,0,0.1);
    border-radius: 10px;
    padding: 24px;
    margin: 8px;
    border: 2px #b8b88c solid;
}

.card-white img {
    width: 100%;
    height: 180px;
    object-fit: fill;
    border-radius: 4px;
}

.card-white h3 {
    margin-bottom: 0;
}

footer {
    background: #b8b88c;
    color: white;
    text-align: center;
    font-size: 20px;
    padding: 10px 0px;
    position:fixed;
    bottom: 0;
    width: 100%
}

.container {
    width: 90vw;
    margin: 40px auto;
}

.local-container{
    background-color: #D8D3CD;
    display: flex;
    padding: 4vh;
    flex-direction: column;
    align-items: center;
}

.locales {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2vh 2vw;
    padding: 5vh;
    margin-left: 3.25%;
}

.local{
    color: grey;
    cursor: pointer;
}

.mapa-container {
    padding-bottom: 4vh;
}

#mapa {
    height: 50vh;
    width: 42vw;
    border-radius: 10px;
}

div#mapa.leaflet-container.leaflet-touch.leaflet-retina.leaflet-fade-anim.leaflet-grab.leaflet-touch-drag.leaflet-touch-zoom {
    position: sticky !important;
}

.leaflet-popup-content h4 {
    margin: 0;
}

.leaflet-popup-content p {
    margin: 0;
}


#loader-container {
    position: relative;
    width: 60vh;
    height: 60vh;
    margin: auto;
    top: 45vh;
}

#loader-container .loader{
    position: absolute;
    left: 50%;
    width: 60%;
    height: 60%;
    background-size: cover;
    background-image: url(../img/perchacirculo.png);
    animation: loader 2s linear infinite;
    border-radius: 50%;
}

#loader-container .loader2{
    position: absolute;
    left: 50%;
    width: 61%;
    height: 61%;
    border: solid 1.5vh transparent;
    border-top-color: #1C1C1C;
    border-left-color: #1C1C1C;
    border-radius: 50%;
    animation: loader2 2s linear infinite;
}

#loader-container .loader3{
    position: absolute;
    left: 50%;
    width: 67%;
    height: 67%;
    border: solid 1.5vh transparent;
    border-top-color: #1C1C1C;
    border-left-color: #1C1C1C;
    border-radius: 50%;
    animation: loader 2s linear infinite;
}

@keyframes loader {
    0%{
        transform: translate(-50%, -50%) rotate(0deg) ;
    }
    100%{
        transform: translate(-50%, -50%) rotate(360deg) ;
    }
}

@keyframes loader2 {
    0%{
        transform: translate(-50%, -50%) rotate(0deg) ;
    }
    100%{
        transform: translate(-50%, -50%) rotate(-360deg) ;
    }
}

@media only screen and (max-width: 600px) {
    .content {
        height: 60vh;
    }
    .banner-content {
        background: url(../img/ropa2.png) no-repeat bottom;
        background-size: contain;
        display: flex;
        margin-bottom: 4vh;
    }
    .centrado {
        margin: 0;
    }
    .bot-from-h1 {
        margin: 0;
        text-align: center;
    }
    .btn-white{
        margin: 0;
    }
}

